<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyxridd.lib.per.mapper.PerUserMapper">
    <select id="exist" resultType="java.lang.Boolean">
        select count(*) from per_user where `name`=#{name};
    </select>

    <select id="selectPerUser" resultType="com.fyxridd.lib.per.model.PerUser">
        select `name`,`groups`,`pers` from per_user where name = #{name};
    </select>

    <insert id="insert">
        insert into per_user(`name`, `groups`, `pers`) values (#{name}, #{groups}, #{pers});
    </insert>

    <update id="update">
        update per_user set `groups`=#{groups},`pers`=#{pers} where `name`=#{name};
    </update>
</mapper>